<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment Analysis</title>
    </head>
    <body>
        <form method="POST">
            <textarea name="user_text" rows="5"></textarea>
            <input type="submit" value="Analyze Text">
        </form>

        {% if sentiment %}
          <div>
              <h2>Results"</h2>
              <p>Positive: {{ sentiment['pos'] * 100 }} % </p>
              <p>Neutral: {{ sentiment['neu'] * 100 }} % </p>
              <p>Negative: {{ sentiment['neg'] * 100 }} % </p>
              <p>Compound: {{ sentiment['compound'] * 100 }} % </p>
              <p>Custom: {{ sentiment['custom model positive'] * 100 }} % </p>
          </div>
    </body>
</html>
